@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
        
* {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    text-transform: lowercase;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #131313;
    color: #fff;    
    margin: 0;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
    margin: 0px;
}

p:hover, a:hover {
    color: #ccc;
}

.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-content: center;
    width: 100%;
}

.gallery-item {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    background-color: rgb(26,26,26);
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s;
    border: 2px solid grey;
    border-color: transparent;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    
    background-blend-mode: overlay;
    background-color: rgba(26, 26, 26, 0.7);
    transition: 0.3s all;
}

.gallery-item:hover {
    border-color: rgb(90, 90, 90);
}

.gallery-item img {
    position: absolute;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s;
}

.gallery-item img:hover {
    opacity: 0.7;
}

.gallery-item > p, .gallery-item >  a {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-weight: 700;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.lightbox-close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}